
/* Text message container start */
.text-message-container {
    background-color: rgb(150, 227, 247);
    
}

.parabold {
    font-weight: bold;
}

.stateli{
    width: 100%;
}




/* Text message container end*/